<div class="container-fluid vh-100">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card mx-auto">
                <div class="card-body">
                    <div class="row pb-2">
                        <div class="col-12 mb-4 d-flex justify-content-center align-items-center">
                            <img class="img-fluid" height="250" width="250" src="/assets/icons/arvato.png">
                        </div>
                        <div class="col py-3 pe-md-4 text-center">
                            <form [formGroup]="customerSupportForm" novalidate="novalidate" (ngSubmit)="submit()"
                                class="d-grid gap-3">

                                <h4>Customer Support Form</h4>

                                <div class="form-floating">
                                    <input type="text" placeholder="Start typing" formControlName="Email"
                                        class="form-control" id="email">
                                    <label class="text-muted" for="email">Email (required)</label>
                                </div>

                                <ng-container class="row" *ngIf="hasError('Email')">
                                    <small class="help text-danger float-start text-start">
                                        {{hasError("Email")}}
                                    </small>
                                </ng-container>


                                <div class="form-floating">
                                    <input type="text" inputmode="tel" placeholder="Phone" formControlName="Phone"
                                        class="form-control" id="phone">
                                    <label class="text-muted" for="phone">Phone (required)</label>

                                    <ng-container class="row" *ngIf="hasError('Phone')">
                                        <small class="help text-danger float-start text-start">
                                            {{hasError("Phone")}}
                                        </small>
                                    </ng-container>
                                </div>


                                <div class="form-floating">
                                    <input type="text" placeholder="Customer Number" formControlName="CustomerNumber"
                                        class="form-control" id="customerNumber">
                                    <label class="text-muted" for="customerNumber">Customer Number</label>
                                </div>

                                <ng-container class="row" *ngIf="hasError('CustomerNumber')">
                                    <small class="help text-danger float-start text-start">
                                        {{hasError("CustomerNumber")}}
                                    </small>
                                </ng-container>

                                <div class="form-floating">
                                    <select class="form-select" id="floatingSelect" formControlName="TypeOfInquiry"
                                        aria-label="Floating label select example">
                                        <option *ngFor="let inquiry of typesOfInquiry" [value]="inquiry.key">
                                            {{inquiry.description}}
                                        </option>
                                    </select>
                                    <label class="text-muted" for="floatingSelect">Type of Inquiry (required)</label>
                                </div>

                                <ng-container class="row" *ngIf="hasError('TypeOfInquiry')">
                                    <small class="help text-danger float-start text-start">
                                        {{hasError("TypeOfInquiry")}}
                                    </small>
                                </ng-container>


                                <div class="form-floating">
                                    <textarea appTextareaAutoresize autocomplete="off" class="form-control"
                                        formControlName="Description" placeholder="Leave a description here"
                                        id="description">
                                    </textarea>
                                    <label class="text-muted" for="description">Message
                                        (required)</label>
                                </div>

                                <ng-container class="row" *ngIf="hasError('Description')">
                                    <small class="help text-danger float-start text-start">
                                        {{hasError("Description")}}
                                    </small>
                                </ng-container>


                                <div class="form-check text-start">
                                    <input formControlName="AgreementTerms" class="form-check-input" type="checkbox"
                                        id="terms">
                                    <label class="text-muted" class="form-check-label" for="terms">
                                        Yes I have read, understood and agree to the AFS IT Services Estonia OÜ Privacy
                                        Notice
                                    </label>
                                </div>

                                <ng-container class="row" *ngIf="hasError('AgreementTerms')">
                                    <small class="help text-danger float-start text-start">
                                        {{hasError("AgreementTerms")}}
                                    </small>
                                </ng-container>

                                <button [ngClass]="{'disabled' : !customerSupportForm.valid}"
                                    class="btn btn-outline-primary mt-4" type="submit"
                                    [disabled]="!customerSupportForm.valid">

                                    <ng-container *ngIf="!(loading$ | async)">
                                        Send
                                    </ng-container>

                                    <ng-container *ngIf="(loading$ | async)">
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
                                        </span>
                                        Sending...
                                    </ng-container>
                                </button>

                                <div [ngClass]="{'alert-success' :isSuccessAlert, 'alert-danger': !isSuccessAlert }"
                                    *ngIf="alertState" class="alert" role="alert">
                                    {{alertMessage}}
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
