@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/bootstrap';

#app {
    background-image: url('/assets/icons/wave.svg');
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@import '~bootstrap/scss/bootstrap';

@import '~bootstrap/scss/bootstrap';
